* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --fs-h1: clamp(1.4rem, 3vw, 2.5rem);
  --fs-h2: clamp(1.3rem, 2.5vw, 2rem);
  --fs-body: clamp(1rem, 2vw, 1.2rem);
  font-family: "Courier New", Courier, monospace;
}
#hero-dashboard {
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
}
.logo-pic {
  width: 100%;
  max-width: 130px;
  display: block;
  object-fit: cover;
  flex: 1 1 50%;
  margin: 0;
}
.try-btn {
  font-weight: bold;
  border: black solid 2px;
  background: white;
  border-radius: 20px;
  flex: 1 1 49%;
  padding: 0.5rem 1.5rem;
}
.service-presentation {
  background: linear-gradient(to right, rgba(145, 147, 229, 0.2), white);
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
  justify-content: space-around;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.ill-pic {
  width: 100%;
  max-width: 400px;
  display: block;
  object-fit: cover;
}
.text {
  max-width: 430px;
  margin: 1rem;
}
.text h1 {
  font-size: var(--fs-h1);
}
.text p {
  font-size: var(--fs-body);
}
.document {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
}
.doc-btn {
  background: black;
  color: white;
}
.down-btn {
  background: blue;
  color: white;
}
.cards {
  margin: 0 auto;
  text-align: center;
  font-size: var(--fs-body);
  padding: 1rem;
  max-width: 700px;
  width: 100%;
}
.cards h1 {
  font-size: var(--fs-h2);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.cards-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  max-width: 900px;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  gap: 0.7rem;
  margin: auto;
  height: auto;
  padding: 1.2rem;
  border: white 2px solid;
  box-shadow: 0 0 8px rgba(160, 161, 164, 0.8);
  transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(150, 150, 150, 0.35);
}
.card h1 {
  color: rgb(185, 185, 228);
}
.card p {
  line-height: 1.4;
}

.service-pic {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
.learn {
  padding: 0.2rem 2.5rem;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
